.fade-in {
  opacity: 0;
  animation: fade-in linear 300ms;
  animation-fill-mode: forwards;
}

.fade-out {
  animation: fade-out linear 300ms;
}

@keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade-out {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}

.scale-in {
  transform: scale(0);
  animation: scale-in linear 300ms;
  animation-fill-mode: forwards;
}

.scale-out {
  animation: scale-out linear 300ms;
}

@keyframes scale-in {
  0%   { transform: scale(0); }
  100% { transform: scale(1); }
}

@keyframes scale-out {
  0%   { transform: scale(1); }
  100% { transform: scale(0); }
}